/* Variables for color management */
:root {
  --cscg-theme-primary-color: #1e1e1e;
  --cscg-theme-primary-text-color: #ffffff;
  --cscg-theme-hover-color: #ff4081;
  --cscg-theme-border-color: #323232;
  --cscg-theme-secondary-text-color: #aaaaaa;
}

#cscg-theme-main-footer {
  background: var(--cscg-theme-primary-color);
  color: var(--cscg-theme-primary-text-color);
  font-family: "Arial", "Helvetica", sans-serif;
  padding: 2rem 0;
  border-top: 1px solid var(--cscg-theme-border-color);
}

#cscg-theme-main-footer .cscg-theme-footer-content {
  text-align: center;
  margin-bottom: 1rem;
}

#cscg-theme-main-footer .cscg-theme-footer-content p {
  margin: 0;
  color: var(--cscg-theme-secondary-text-color);
}

#cscg-theme-main-footer .cscg-theme-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

#cscg-theme-main-footer .cscg-theme-footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#cscg-theme-main-footer .cscg-theme-footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

#cscg-theme-main-footer .cscg-theme-footer-nav ul li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-right: 1px solid var(--cscg-theme-border-color);
  transition: background 0.3s ease;
}

#cscg-theme-main-footer .cscg-theme-footer-nav ul li:hover {
  background: var(--cscg-theme-border-color);
}

#cscg-theme-main-footer .cscg-theme-footer-nav ul li:last-child {
  border-right: none;
}

#cscg-theme-main-footer .cscg-theme-footer-nav ul li a {
  color: var(--cscg-theme-primary-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

#cscg-theme-main-footer .cscg-theme-footer-nav ul li a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  #cscg-theme-main-footer .cscg-theme-footer-nav {
    flex-direction: column;
  }

  #cscg-theme-main-footer .cscg-theme-footer-nav ul {
    flex-direction: column;
    align-items: left;
  }

  #cscg-theme-main-footer .cscg-theme-footer-nav ul li {
    border-right: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--cscg-theme-border-color);
  }

  #cscg-theme-main-footer .cscg-theme-footer-nav ul li:last-child {
    border-bottom: none;
  }
}

@media (max-width: 480px) {
  #cscg-theme-main-footer .cscg-theme-container {
    padding: 0 0.5rem;
  }

  #cscg-theme-main-footer {
    padding: 1rem 0;
  }

  #cscg-theme-main-footer .cscg-theme-footer-nav ul {
    align-items: left;
  }

  #cscg-theme-main-footer .cscg-theme-footer-nav ul li {
    padding: 0.5rem;
  }

  #cscg-theme-main-footer .cscg-theme-footer-nav ul li a {
    padding: 0.5rem 0.25rem;
  }
}
