.cscg-theme-front-page-container {
  margin-top: 3rem;
}

#cscg-theme-main-content .cscg-theme-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}

#cscg-theme-main-content .cscg-theme-showcase h1 {
  padding-top: 6rem;
}

#cscg-theme-main-content .cscg-theme-showcase h3 {
  padding-top: 1rem;
}

#cscg-theme-main-content .cscg-theme-showcase h6 {
  padding-top: 0.5rem;
  color: var(--primary-text-color);
  max-width: 10rem;
}

#cscg-theme-main-content {
  margin-top: 3rem;
}

#cscg-theme-main-content .cscg-theme-section {
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 15px;
  box-shadow: var(--shadow-color) var(--shadow-blur);
  /* padding: 1.5rem; */
}

#cscg-theme-main-content .cscg-theme-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cscg-theme-main-content .cscg-theme-section-direction {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#cscg-theme-main-content .cscg-theme-section-direction svg {
  width: 6rem;
}

#cscg-theme-main-content .cscg-theme-section .cscg-theme-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-card
  .cscg-theme-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-card
  .cscg-theme-card-body
  h5 {
  padding-top: 1rem;
  font-size: 1.5rem;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-card
  .cscg-theme-card-body
  p {
  padding-top: 1rem;
  width: 80%;
  color: var(--primary-text-color);
}

#cscg-theme-main-content .cscg-theme-section .cscg-theme-form-generate {
  width: 100%;
  padding: 3rem 0;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-heading
  div {
  width: 45%;
  margin: auto;
  background: var(--black-background);
  padding: 1rem 3rem;
  border-radius: 2rem;
  text-align: center;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-heading
  div
  h2 {
  color: var(--light-text-color);
  font-weight: 500;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container {
  margin: auto;
  margin-top: 3rem;
  width: 70%;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  min-height: 400px;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form-label {
  width: 100%;
  background: var(--black-background);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 2.5rem;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form-label
  h3 {
  color: var(--light-text-color);
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form
  p {
  color: var(--primary-text-color);
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form
  .cscg-theme-get-mails {
  color: var(--primary-text-color-2);
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form
  .cscg-theme-form-wrapper
  input[type="text"],
#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form
  .cscg-theme-form-wrapper
  select {
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-color);
  width: 40%;
  padding: 1rem 0;
  padding-bottom: 0.2rem;
}

#cscg-theme-main-content
  .cscg-theme-section
  .cscg-theme-form-generate
  .cscg-theme-form-container
  .cscg-theme-form
  button {
  margin-top: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 70%;
  background: var(--primary-text-color);
  color: var(--light-text-color);
  font-weight: 500;
  font-size: 1rem;
}
